# Language Dependencies
__pycache__/

# Test Dependencies / Data
desc.csv
desc2.csv
tmp.html
all.json
collect.py
QueryUI/func_desc.csv
QueryUI/func_desc legacy.csv
QueryUI/main legacy.py


# Notes
QASystem.md
